
.navbar-default{
  background-color:#993333 !important;
  border-radius: 0 !important;
  background-image: none !important;
}
.navbar-default .navbar-brand {
  color: black !important;
  font-family: 'Century Gothic' !important;
}
.navbar-default .navbar-nav > li > a {
  color: black !important;

}

.portfolio-thumbnail {

 	border-width: 2px !important;
	border-style: solid !important;
 	border-color: gray !important;
 }
 .portfolio-page-image{
   display: block !important;
   margin-left: auto !important;
   margin-right: auto !important;

 }
 .portfolio-page-description{
   margin-left: auto !important;
   margin-right: auto !important;
   width:36em !important;
   font-family: 'Century Gothic'!important;
 }
 .portfolio-thumbnail:hover {
  border-color: #993333 !important;
}
 div div h2{
  text-align: center !important;
  font-family: 'Century Gothic'!important;

 }
 div div p{
    font-family:'Century Gothic'!important;
 }
.header-quote{

 font-family:'Century Gothic' !important;

 }
 .row-center{
   align-items: center !important;
   margin-left: auto !important;
   margin-right: auto !important;

 }
 h1{
   font-family: 'Century Gothic'!important;
 }
 h3{
   font-family: 'Century Gothic'!important;
 }
 h4{
   font-family: 'Century Gothic'!important;
 }
 h5{
   font-family: 'Century Gothic'!important;
 }
 ul{
   font-family: 'Century Gothic'!important;
 }
 p{
   font-family: 'Century Gothic'!important;
 }
.extra-text{
  font-family: 'Century Gothic'!important;
}
